@import "src/scss/app";

.more {
  @extend %container;
  position: relative;

  @media screen and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    font-size: 80px;
    font-weight: bold;
    width: 590px;
    margin-top: 80px;
    line-height: 1.1;
    margin-bottom: 0.75rem;

    @media screen and (max-width: 768px) {
      font-size: 50px;
      width: 100%;
    }
  }

  &__text {
    width: 590px;
    font-size: 24px;
    font-weight: 500;
    color: $color-gray;
    line-height: 1.5;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  &__button {
    padding: 20px 22px;
    background-color: $color-main;
    border-radius: 34px;
    width: 200px;
    font-size: 18px;
    text-align: center;
    margin-top: 46px;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    a {
      text-decoration: none;
      font-weight: bold;
      color: white;
    }
  }

  &__img {
    top: -58px;
    position: absolute;
    right: -250px;

    @media screen and (max-width: 1024px) {
      position: unset;
    }

    @media screen and (max-width: 768px) {
      img {
        height: 330px;
        width: auto;
      }
    }

    @media screen and (max-width: 480px) {
      align-self: flex-start;
    }
  }
}