@import "src/scss/app";

.header {
  @extend %container;
  display: flex;
  align-items: center;
  height: 120px;
  justify-content: space-between;

  &__nav {
    display: flex;
    align-items: center;

    img {
      margin-right: 35px;
    }

    a {
      margin: 0 16px;
      color: $color-gray;
      font-size: 18px;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        color: black;
      }

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }

  &__login {

    &_signup {
      padding: 14px 24px;
      background-color: $color-main;
      border-radius: 24px;
      color: white!important;

      &:hover {
        opacity: 0.7;
      }
    }

    a {
      margin: 0 20px;
      text-decoration: none;
      font-weight: bold;
      color: $color-gray;

      &:hover {
        color: black;
      }

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    &_burger {
      height: 38px;
      width: auto;
      color: $color-gray;

      @media screen and (min-width: 769px) {
        display: none;
      }
    }
  }
}