@import "src/scss/app";

.feature_content {
  background-color: $color-gray-background;
}

.features {
  @extend %container;
  display: flex;
  justify-content: center;
  padding-top: 80px;

  &__info {
    width: 515px;
  }

  &__title {
    text-align: center;
    font-weight: bold;
    font-size: 38px;
  }

  &__subtitle {
    text-align: center;
    color: $color-gray;
    font-size: 19px;
    font-weight: 500;
    line-height: 1.7;
  }
}

.items {
  @extend %container;
  display: flex;
  margin-top: 106px;
  justify-content: space-between;
  padding-bottom: 120px;
  position: relative;

  @media screen and (max-width: 1100px) {
    flex-direction: column;
    align-items: center;
  }
}

.line {
  height: 10px;
  width: 100%;
  position: absolute;
  background-color: $color-main;
  bottom: 68%;
  z-index: 0;

  @media screen and (max-width: 1100px) {
    transform: rotate(90deg)!important;
    bottom: 68%;
    width: 700px;
  }
}

.item {
  width: 350px;
  height: 268px;
  border-radius: 8px;
  position: relative;
  background-color: white;
  z-index: 1;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1100px) {
    text-align: center;

    &:not(:first-child) {
      margin-top: 100px!important;
    }
  }

  @media screen and (max-width: 400px) {
    width: 100%;
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: $color-violet;
    margin-left: 24px;
    margin-top: -50px;

    @media screen and (max-width: 1100px) {
     margin-left: 0;
      align-self: center;
    }
  }

  &__title {
    font-weight: bold;
    width: 300px;
    margin: 35px auto 12px auto;
    font-size: 22px;
  }

  &__text {
    color: $color-gray;
    margin: 0 24px;
    line-height: 1.7;
    font-size: 16px;
    font-weight: 500;
  }
}