@import "src/scss/app";

.container {
  height: 310px;
  background-color: black;

  @media screen and (max-width: 768px) {
    height: 763px;
  }
}

.footer {
  @extend %container;
  padding-top: 72px;
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    text-align: center;
  }

  &__logo {
    width: 380px;

    @media screen and (max-width: 768px) {
      width: auto;
      margin-bottom: 30px;
    }
  }

  &__nav {
    display: flex;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }
}

.nav {
  margin-right: 90px;

  @media screen and (max-width: 768px) {
    margin-right: 0;
  }

  &__title {
    color: white;
    font-weight: bold;

    @media screen and (max-width: 768px) {
      margin-top: 20px;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 22px;

    li {
      margin: 10px 0;

      a{
        text-decoration: none;
        color: $color-gray;
        font-weight: 500;
      }
    }
  }
}

.social {

  a{
    margin-left: 20px;

    img {
      margin-bottom: 15px;
    }
  }

  @media screen and (max-width: 768px) {
    margin-top: 30px;

    a:first-child {
      margin-left: 0;
    }
  }
}


